* {
    margin: 0;
    padding: 0;
}

#file-content {
    font-family: "Courier New", monospace;
    display: block;
}

.transmissionHeader {
    background-color: lightblue;
    margin: 20px;
}

.groupHeader {
    background-color: lightgoldenrodyellow;
    margin: 20px;
}

.transaction {
    background-color: lightcyan;
    margin: 20px;
}

.groupTrailer {
    margin: 20px;
}

.transmissionTrailer {
    margin: 20px;
}

.senderType {
    color: aliceblue;
}

.senderIdShort, .senderIdLong {
    color: antiquewhite;
}

.senderName {
    color: aqua;
}

.ediVersionNumber {
    color: aquamarine;
}

.CreationDate {
    color: azure;
}

.CreationTime {
    color: beige;
}

.transmissionDate {
    color: bisque;
}

.characterSet {
    color: blanchedalmond;
}

.TransactionType {
    color: blue;
}

.GroupId {
    color: blueviolet;
}

.versionNumber {
    color: brown;
}

.batchRequest {
    color: burlywood;
}

.submissionDistributionType {
    color: cadetblue;
}

.TransactionSequenceNumber {
    color: chartreuse;
}

.RecordSequenceNumber {
    color: chocolate;
}

.WorkTitle {
    color: coral;
}

.PublisherSequenceNumber {
    color: cornflowerblue;
}

.InterestedPartyNumber, .IPINumber, .WriterIPNumber, .IPIBaseNumber, .PublisherIPNumber {
    color: cornsilk;
}

.PublisherName {
    color: crimson;
}

.SubmitterWorkNumber {
    color: cyan;
}

.ISWC {
    color: darkblue;
}

.CopyrightNumber {
    color: darkcyan;
}

.MusicalWorkDistributionCategory {
    color: darkgoldenrod;
}

.WriterLastName {
    color: darkgray;
}

.WriterFirstName {
    color: darkgreen;
}

.CopyrightDate {
    color: darkkhaki;
}

.Share {
    color: darkmagenta;
}

.PRSociety, .MRSociety, .SRSociety {
    color: darkolivegreen;
}

.SubmitterAgreementNumber {
    color: darkorange;
}

.SocietyAssignedAgreementNumber {
    color: darkorchid;
}

.ContactName {
    color: darkred;
}

.ContactID {
    color: darksalmon;
}

.PerformingArtistName {
    color: darkseagreen;
}

.TaxIDNumber {
    color: darkslateblue;
}

.TISNumericCode {
    color: darkslategray;
}

.WriterUnknownIndicator {
    color: darkturquoise;
}

.WriterDesignationCode {
    color: darkviolet;
}

.PersonalNumber {
    color: deeppink;
}

.SequenceNumber {
    color: deepskyblue;
}

.CreationTitle {
    color: dodgerblue;
}

.AlternateTitle {
    color: firebrick;
}

.TitleType {
    color: floralwhite;
}

.error {
    color: red;
}